@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
 margin: 0;
  text-align: center;
}

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 70px;
}

#features {
  position: relative;
}

.features-box{
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #e1bc91;
  margin: 1rem;
}

.icon:hover {
  color: #c19277;
}

/* Container section */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #62959c;
  color: #fff;
}

.white-section, .skills-section{
  background-color: black;
  color:white;
}


.bottom-section {
  background-color: #fff;
  color:black;
}


/* CTA Section */

.cta-heading {
  font-family: "MontSerrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.social-top
{
  position: relative;
  left: 15%;
}

/*mobile menu*/

.hamburger-menu{
color: white;
}


/* grid illustration */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */

  margin-bottom: 30px;
  position: absolute;


}





